[mysqld]
binlog-format=row
server-id=
log-bin
read_only=1
innodb_buffer_pool_size=32MB
default-storage-engine=InnoDB
#log=/var/log/mysql/mysql.log 
#log_error=/var/log/mysql/mysql.err
#general_log_file=/var/log/mysql/mysql_general.log
#slow_query_log_file= /var/log/mysql/mysql_slow.log


